[submodule "src/web/keto-wallet"]
	path = src/web/keto-wallet
	url = https://github.com/brettchaldecott/keto-wallet.git
[submodule "src/contracts/keto_standard_typscript_contracts"]
	path = src/contracts/keto_standard_typscript_contracts
	url = https://github.com/keto-coin/keto_standard_typscript_contracts.git
[submodule "docker"]
	path = docker
	url = https://github.com/keto-coin/keto_docker.git
[submodule "src/web/keto-middlware-proxy"]
	path = src/web/keto-middlware-proxy
	url = https://github.com/keto-coin/keto-middlware-proxy.git
[submodule "src/web/keto-blockchain-explorer"]
	path = src/web/keto-blockchain-explorer
	url = https://github.com/brettchaldecott/keto-explorer.git
[submodule "src/web/avertem-restapi"]
	path = src/web/avertem-restapi
	url = https://github.com/avertem/avertem-restapi.git
